{% comment -%}
The following reference IDs are accepted by this template.

Location_ID_PV1_3: A resource Id, used to fill "location.location.reference" property. The resource is of "Location" type and generated based on "PV1.3" HL7 V2 identifier.
Location_ID_PV1_6: A resource Id, used to fill "location.location.reference" property. The resource is of "Location" type and generated based on "PV1.6" HL7 V2 identifier.
Location_ID_PV1_37: A resource Id, used to fill "hospitalization.destination.reference" property. The resource is of "Location" type and generated based on "PV1.37" HL7 V2 identifier.
Encounter_Hospitalization_Origin_ID: A resource Id, used to fill "hospitalization.origin.reference" property.
Practitioner_ID_PV1_7: A resource Id, used to fill "participant.individual.reference" property. The resource is of "Practitioner" type and generated based on "PV1.7" HL7 V2 identifier.
Practitioner_ID_PV1_8: A resource Id, used to fill "participant.individual.reference" property. The resource is of "Practitioner" type and generated based on "PV1.8" HL7 V2 identifier.
Practitioner_ID_PV1_9: A resource Id, used to fill "participant.individual.reference" property. The resource is of "Practitioner" type and generated based on "PV1.9" HL7 V2 identifier.
Practitioner_ID_PV1_17: A resource Id, used to fill "participant.individual.reference" property. The resource is of "Practitioner" type and generated based on "PV1.17" HL7 V2 identifier.
Practitioner_ID_PV1_52: A resource Id, used to fill "participant.individual.reference" property. The resource is of "Practitioner" type and generated based on "PV1.52" HL7 V2 identifier.
{% endcomment -%}

{% evaluate Location_ID_PV1_37 using 'ID/Location' DLD: PV1.37 -%}

{% evaluate Practitioner_ID_PV1_7 using 'ID/Practitioner' XCN: PV1.7 -%}
{% evaluate Practitioner_ID_PV1_8 using 'ID/Practitioner' XCN: PV1.8 -%}
{% evaluate Practitioner_ID_PV1_9 using 'ID/Practitioner' XCN: PV1.9 -%}
{% evaluate Practitioner_ID_PV1_17 using 'ID/Practitioner' XCN: PV1.17 -%}
{% evaluate Practitioner_ID_PV1_52 using 'ID/Practitioner' XCN: PV1.52 -%}
{% evaluate Practitioner_ID_PV2_13 using 'ID/Practitioner' XCN: PV2.13 -%}

{% evaluate EpisodeOfCare_ID_PV1_54 using 'ID/EpisodeOfCare' PV1: PV1.54 -%}

{
    "fullUrl":"urn:uuid:{{ ID }}",
    "resource":{
        "resourceType": "Encounter",
        "id":"{{ ID }}",
        "class":
        {
            {% include 'DataType/CWECoding' mapping: 'CodeSystem/EncounterClass', CWE: PV1.2 -%}
        },
        {% if PV1.45 == null -%}
            "status": "{{ PV1.2.Value | get_property: 'CodeSystem/EncounterStatus', 'code' }}",
        {% endif -%}
        {% if PV1.45 -%}
            "status":"finished",
        {% endif -%}

        {% if Root_Template == "ADT_A11" or Root_Template =="ADT_A27" -%}
            "status":"cancelled",
        {% endif -%}
        {% if Root_Template == "ADT_A13" or Root_Template =="ADT_A15" or Root_Template =="ADT_A16" or Root_Template =="ADT_A25" or Root_Template =="ADT_A26" or Root_Template == "ADT_A01" or Root_Template == "ADT_A02" or  Root_Template == "ADT_A04" -%}
            "status":"in-progress",
        {% endif -%}
        {% if Root_Template == "ADT_A03" -%}
            "status":"finished",
        {% endif -%}
        {% if Root_Template == "ADT_A05" or Root_Template =="ADT_A14" -%}
            "status":"planned",
        {% endif -%}

        "location":
        [  
        
            {% if PDA.2 %}
            {
                {% if PDA.2.5 or PDA.2.9 -%}
                    {% if PDA.2.5 and PDA.2.9 -%}
                        {% assign PL_Value_Except_PL5_PL9 = PDA.2.Value | remove: PDA.2.5.Value | remove: PDA.2.9.Value %}
                    {% endif -%}
                    {% if PDA.2.5 and PDA.2.9 == null or PDA.2.9 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PDA.2.Value | remove: PDA.2.5.Value %}
                    {% endif -%}
                    {% if PDA.2.9 and PDA.2.5 == null or PDA.2.5 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PDA.2.Value | remove: PDA.2.9.Value %}
                    {% endif -%}
                {% else -%}
                    {% assign PL_Value_Except_PL5_PL9 = PDA.2.Value %}
                {% endif -%}

                {% if PDA.2.1 -%}
                    {% evaluate Location_ID_PDA_2 using 'ID/Location' PL_Field_Value: PDA.2.1, PL: PDA.2, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PDA.2.2 -%}
                    {% evaluate Location_ID_PDA_2 using 'ID/Location' PL_Field_Value: PDA.2.2, PL: PDA.2, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PDA.2.3 -%}
                    {% evaluate Location_ID_PDA_2 using 'ID/Location' PL_Field_Value: PDA.2.3, PL: PDA.2, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PDA.2.4 -%}
                    {% evaluate Location_ID_PDA_2 using 'ID/Location' PL_Field_Value: PDA.2.4, PL: PDA.2, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PDA.2.7 -%}
                    {% evaluate Location_ID_PDA_2 using 'ID/Location' PL_Field_Value: PDA.2.7, PL: PDA.2, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PDA.2.8 -%}
                    {% evaluate Location_ID_PDA_2 using 'ID/Location' PL_Field_Value: PDA.2.8, PL: PDA.2, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% endif -%}

                {% if PDA.2 %}
                    "status":"completed",
                {% endif %}

                "location":
                {
                    {% if PDA.2 and Location_ID_PDA_2 -%}
                        "reference":"Location/{{ Location_ID_PDA_2 }}",
                    {% endif -%}
                },
            },
            {% endif %}

            {% if PV1.3 -%}
            {
                {% if PV1.3.5 or PV1.3.9 -%}
                    {% if PV1.3.5 and PV1.3.9 -%}
                        {% assign PL_Value_Except_PL5_PL9 = PV1.3.Value | remove: PV1.3.5.Value | remove: PV1.3.9.Value %}
                    {% endif -%}
                    {% if PV1.3.5 and PV1.3.9 == null or PV1.3.9 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.3.Value | remove: PV1.3.5.Value %}
                    {% endif -%}
                    {% if PV1.3.9 and PV1.3.5 == null or PV1.3.5 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.3.Value | remove: PV1.3.9.Value %}
                    {% endif -%}
                {% else -%}
                    {% assign PL_Value_Except_PL5_PL9 = PV1.3.Value %}
                {% endif -%}

                {% if PV1.3.1 -%}
                    {% evaluate Location_ID_PV1_3 using 'ID/Location' PL_Field_Value: PV1.3.1, PL: PV1.3, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.3.2 -%}
                    {% evaluate Location_ID_PV1_3 using 'ID/Location' PL_Field_Value: PV1.3.2, PL: PV1.3, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.3.3 -%}
                    {% evaluate Location_ID_PV1_3 using 'ID/Location' PL_Field_Value: PV1.3.3, PL: PV1.3, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.3.4 -%}
                    {% evaluate Location_ID_PV1_3 using 'ID/Location' PL_Field_Value: PV1.3.4, PL: PV1.3, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.3.7 -%}
                    {% evaluate Location_ID_PV1_3 using 'ID/Location' PL_Field_Value: PV1.3.7, PL: PV1.3, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.3.8 -%}
                    {% evaluate Location_ID_PV1_3 using 'ID/Location' PL_Field_Value: PV1.3.8, PL: PV1.3, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% endif -%}

                {% unless Root_Template == "ADT_A11" or Root_Template == "ADT_A27" -%}
                    {% if PV1.2.1.Value != "P" and Location_ID_PV1_3 -%}
                        "status":"active",
                    {% endif -%}
                    {% if PV1.2.1.Value == "P" and Location_ID_PV1_3 -%}
                        "status":"planned",
                    {% endif -%}
                {% endunless -%}

                {% if Root_Template == "ADT_A01" or Root_Template == "ADT_A02" or Root_Template == "ADT_A04"  or Root_Template == "ADT_A09"  or Root_Template == "ADT_A10" or Root_Template == "ADT_A13" or Root_Template == "ADT_A15" or Root_Template == "ADT_A16" or  Root_Template == "ADT_A25" or  Root_Template == "ADT_A26" -%}
                    "status":"active",
                {% endif -%}
                {% if Root_Template == "ADT_A03" -%}
                    "status":"completed",
                {% endif -%}
                {% if Root_Template == "ADT_A14" or Root_Template == "ADT_A05"-%}
                    "status":"planned",
                {% endif -%}

                "location":
                {
                    {% if PV1.3 and Location_ID_PV1_3 -%}
                        "reference":"Location/{{ Location_ID_PV1_3 }}",
                    {% endif -%}
                },
            },
            {% endif %}

            {% if PV1.6 -%}
            {
                {% if PV1.6.5 or PV1.6.9 -%}
                    {% if PV1.6.5 and PV1.6.9 -%}
                        {% assign PL_Value_Except_PL5_PL9 = PV1.6.Value | remove: PV1.6.5.Value | remove: PV1.6.9.Value %}
                    {% endif -%}
                    {% if PV1.6.5 and PV1.6.9 == null or PV1.6.9 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.6.Value | remove: PV1.6.5.Value %}
                    {% endif -%}
                    {% if PV1.6.9 and PV1.6.5 == null or PV1.6.5 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.6.Value | remove: PV1.6.9.Value %}
                    {% endif -%}
                {% else -%}
                    {% assign PL_Value_Except_PL5_PL9 = PV1.6.Value %}
                {% endif -%}

                {% if PV1.6.1 -%}
                    {% evaluate Location_ID_PV1_6 using 'ID/Location' PL_Field_Value: PV1.6.1, PL: PV1.6, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.6.2 -%}
                    {% evaluate Location_ID_PV1_6 using 'ID/Location' PL_Field_Value: PV1.6.2, PL: PV1.6, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.6.3 -%}
                    {% evaluate Location_ID_PV1_6 using 'ID/Location' PL_Field_Value: PV1.6.3, PL: PV1.6, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.6.4 -%}
                    {% evaluate Location_ID_PV1_6 using 'ID/Location' PL_Field_Value: PV1.6.4, PL: PV1.6, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.6.7 -%}
                    {% evaluate Location_ID_PV1_6 using 'ID/Location' PL_Field_Value: PV1.6.7, PL: PV1.6, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.6.8 -%}
                    {% evaluate Location_ID_PV1_6 using 'ID/Location' PL_Field_Value: PV1.6.8, PL: PV1.6, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% endif -%}

                {% if PV1.6 and Location_ID_PV1_6 -%}
                    {% unless Root_Template == "ADT_A11" or Root_Template == "ADT_A27" -%}
                        "status":"completed",
                    {% endunless -%}
                    "location":
                    {
                        "reference":"Location/{{ Location_ID_PV1_6 }}",
                    },
                {% endif -%}

            },
            {% endif %}

            {% if PV1.11 -%}
            {
                {% if PV1.11.5 or PV1.11.9 -%}
                    {% if PV1.11.5 and PV1.11.9 -%}
                        {% assign PL_Value_Except_PL5_PL9 = PV1.11.Value | remove: PV1.11.5.Value | remove: PV1.11.9.Value %}
                    {% endif -%}
                    {% if PV1.11.5 and PV1.11.9 == null or PV1.11.9 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.11.Value | remove: PV1.11.5.Value %}
                    {% endif -%}
                    {% if PV1.11.9 and PV1.11.5 == null or PV1.11.5 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.11.Value | remove: PV1.11.9.Value %}
                    {% endif -%}
                {% else -%}
                    {% assign PL_Value_Except_PL5_PL9 = PV1.11.Value %}
                {% endif -%}

                {% if PV1.11.1 -%}
                    {% evaluate Location_ID_PV1_11 using 'ID/Location' PL_Field_Value: PV1.11.1, PL: PV1.11, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.11.2 -%}
                    {% evaluate Location_ID_PV1_11 using 'ID/Location' PL_Field_Value: PV1.11.2, PL: PV1.11, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.11.3 -%}
                    {% evaluate Location_ID_PV1_11 using 'ID/Location' PL_Field_Value: PV1.11.3, PL: PV1.11, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.11.4 -%}
                    {% evaluate Location_ID_PV1_11 using 'ID/Location' PL_Field_Value: PV1.11.4, PL: PV1.11, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.11.7 -%}
                    {% evaluate Location_ID_PV1_11 using 'ID/Location' PL_Field_Value: PV1.11.7, PL: PV1.11, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.11.8 -%}
                    {% evaluate Location_ID_PV1_11 using 'ID/Location' PL_Field_Value: PV1.11.8, PL: PV1.11, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% endif -%}

                {% unless Root_Template == "ADT_A27" -%}
                    {% if PV1.2.1.Value != "P" and Location_ID_PV1_11 -%}
                        "status":"active",
                    {% endif -%}
                    {% if PV1.2.1.Value == "P" and Location_ID_PV1_11 -%}
                        "status":"planned",
                    {% endif -%}

                    {% if Root_Template == "ADT_A01" or Root_Template == "ADT_A02" or Root_Template == "ADT_A03" or Root_Template == "ADT_A04" or Root_Template == "ADT_A05" or Root_Template == "ADT_A09"  or Root_Template == "ADT_A10" or Root_Template == "ADT_A11" or Root_Template == "ADT_A13" or Root_Template == "ADT_A14" or Root_Template == "ADT_A15" or Root_Template == "ADT_A16" or  Root_Template == "ADT_A25" or  Root_Template == "ADT_A26" -%}
                        "status":"planned",
                    {% endif -%}
                {% endunless -%}

                {% if PV1.11 and Location_ID_PV1_11 -%}
                "location":
                {
                        "reference":"Location/{{ Location_ID_PV1_11 }}",
                },
                {% include 'Extensions/TemporaryLocation' , status: 'true' -%}
                {% endif -%}
            },
            {% endif %}

            {% unless Root_Template == "ADT_A26" -%}
                {% if PV1.42 -%}
                {
                    {% if PV1.42.5 or PV1.42.9 -%}
                        {% if PV1.42.5 and PV1.42.9 -%}
                            {% assign PL_Value_Except_PL5_PL9 = PV1.42.Value | remove: PV1.42.5.Value | remove: PV1.42.9.Value %}
                        {% endif -%}
                        {% if PV1.42.5 and PV1.42.9 == null or PV1.42.9 == "" -%}
                            {% assign PL_Value_Except_PL5_PL9= PV1.42.Value | remove: PV1.42.5.Value %}
                        {% endif -%}
                        {% if PV1.42.9 and PV1.42.5 == null or PV1.42.5 == "" -%}
                            {% assign PL_Value_Except_PL5_PL9= PV1.42.Value | remove: PV1.42.9.Value %}
                        {% endif -%}    
                    {% else -%}
                        {% assign PL_Value_Except_PL5_PL9 = PV1.42.Value %}
                    {% endif -%}

                    {% if PV1.42.1 -%}
                        {% evaluate Location_ID_PV1_42 using 'ID/Location' PL_Field_Value: PV1.42.1, PL: PV1.42, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV1.42.2 -%}
                        {% evaluate Location_ID_PV1_42 using 'ID/Location' PL_Field_Value: PV1.42.2, PL: PV1.42, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV1.42.3 -%}
                        {% evaluate Location_ID_PV1_42 using 'ID/Location' PL_Field_Value: PV1.42.3, PL: PV1.42, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV1.42.4 -%}
                        {% evaluate Location_ID_PV1_42 using 'ID/Location' PL_Field_Value: PV1.42.4, PL: PV1.42, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV1.42.7 -%}
                        {% evaluate Location_ID_PV1_42 using 'ID/Location' PL_Field_Value: PV1.42.7, PL: PV1.42, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV1.42.8 -%}
                        {% evaluate Location_ID_PV1_42 using 'ID/Location' PL_Field_Value: PV1.42.8, PL: PV1.42, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% endif -%}

                    {% if PV1.42 and Location_ID_PV1_42 -%}
                        {% unless Root_Template == "ADT_A11" or Root_Template == "ADT_A27" -%}
                            "status":"planned",
                        {% endunless -%}
                        "location":
                        {
                                "reference":"Location/{{ Location_ID_PV1_42 }}",
                        },
                    {% endif -%}

                },
                {% endif %}
            {% endunless -%}
            
            {% if PV1.43 -%}
            {
                {% if PV1.43.5 or PV1.43.9 -%}
                    {% if PV1.43.5 and PV1.43.9 -%}
                        {% assign PL_Value_Except_PL5_PL9 = PV1.43.Value | remove: PV1.43.5.Value | remove: PV1.43.9.Value %}
                    {% endif -%}
                    {% if PV1.43.5 and PV1.43.9 == null or PV1.43.9 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.43.Value | remove: PV1.43.5.Value %}
                    {% endif -%}
                    {% if PV1.43.9 and PV1.43.5 == null or PV1.43.5 == "" -%}
                        {% assign PL_Value_Except_PL5_PL9= PV1.43.Value | remove: PV1.43.9.Value %}
                    {% endif -%}    
                {% else -%}
                    {% assign PL_Value_Except_PL5_PL9 = PV1.43.Value %}
                {% endif -%}

                {% if PV1.43.1 -%}
                    {% evaluate Location_ID_PV1_43 using 'ID/Location' PL_Field_Value: PV1.43.1, PL: PV1.43, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.43.2 -%}
                    {% evaluate Location_ID_PV1_43 using 'ID/Location' PL_Field_Value: PV1.43.2, PL: PV1.43, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.43.3 -%}
                    {% evaluate Location_ID_PV1_43 using 'ID/Location' PL_Field_Value: PV1.43.3, PL: PV1.43, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.43.4 -%}
                    {% evaluate Location_ID_PV1_43 using 'ID/Location' PL_Field_Value: PV1.43.4, PL: PV1.43, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.43.7 -%}
                    {% evaluate Location_ID_PV1_43 using 'ID/Location' PL_Field_Value: PV1.43.7, PL: PV1.43, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% elseif PV1.43.8 -%}
                    {% evaluate Location_ID_PV1_43 using 'ID/Location' PL_Field_Value: PV1.43.8, PL: PV1.43, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                {% endif -%}    

                {% if PV1.43 and Location_ID_PV1_43 -%}
                    {% unless Root_Template == "ADT_A11" or Root_Template == "ADT_A27" -%}
                        "status":"completed",
                    {% endunless -%}
                    "location":
                    {
                        "reference":"Location/{{ Location_ID_PV1_43 }}",
                    },
                    {% include 'Extensions/TemporaryLocation' , status: 'true' -%}
                {% endif -%}

            },
            {% endif %}

            {% unless Root_Template == "ADT_A26" -%}
                {% if PV2.1 -%}
                {
                    {% if PV2.1.5 or PV2.1.9 -%}
                        {% if PV2.1.5 and PV2.1.9 -%}
                            {% assign PL_Value_Except_PL5_PL9 = PV2.1.Value | remove: PV2.1.5.Value | remove: PV2.1.9.Value %}
                        {% endif -%}
                        {% if PV2.1.5 and PV2.1.9 == null or PV2.1.9 == "" -%}
                            {% assign PL_Value_Except_PL5_PL9= PV2.1.Value | remove: PV2.1.5.Value %}
                        {% endif -%}
                        {% if PV2.1.9 and PV2.1.5 == null or PV2.1.5 == "" -%}
                            {% assign PL_Value_Except_PL5_PL9= PV2.1.Value | remove: PV2.1.9.Value %}
                        {% endif -%}    
                    {% else -%}
                        {% assign PL_Value_Except_PL5_PL9 = PV2.1.Value %}
                    {% endif -%}

                    {% if PV2.1.1 -%}
                        {% evaluate Location_ID_PV2_1 using 'ID/Location' PL_Field_Value: PV2.1.1, PL: PV2.1, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV2.1.2 -%}
                        {% evaluate Location_ID_PV2_1 using 'ID/Location' PL_Field_Value: PV2.1.2, PL: PV2.1, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV2.1.3 -%}
                        {% evaluate Location_ID_PV2_1 using 'ID/Location' PL_Field_Value: PV2.1.3, PL: PV2.1, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV2.1.4 -%}
                        {% evaluate Location_ID_PV2_1 using 'ID/Location' PL_Field_Value: PV2.1.4, PL: PV2.1, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV2.1.7 -%}
                        {% evaluate Location_ID_PV2_1 using 'ID/Location' PL_Field_Value: PV2.1.7, PL: PV2.1, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% elseif PV2.1.8 -%}
                        {% evaluate Location_ID_PV2_1 using 'ID/Location' PL_Field_Value: PV2.1.8, PL: PV2.1, PL_Value_Except_PL5_PL9: PL_Value_Except_PL5_PL9 -%}
                    {% endif -%} 

                    {% if PV2.1 and Location_ID_PV2_1 -%}
                        {% unless Root_Template == "ADT_A11" or Root_Template == "ADT_A27" -%}
                            "status":"planned",
                        {% endunless -%}
                        "location":
                        {
                            "reference":"Location/{{ Location_ID_PV2_1 }}",
                        },
                    {% endif -%}
                },
                {% endif %}
            {% endunless -%}
        ],
        "type":
        [
            {
                {% include 'DataType/CWECodeableConcept' mapping: 'CodeSystem/AdmissionType', CWE: PV1.4 -%}
            },
        ],
        "hospitalization":
        {
            "preAdmissionIdentifier":
            {
                {% include 'DataType/CX' CX: PV1.5 -%}
            },
            "reAdmission":
            {
                {% include 'DataType/CWECodeableConcept' mapping: 'CodeSystem/ReadmissionIndicator', CWE: PV1.13 -%}
            },
            "admitSource":
            {
                {% include 'DataType/CWECodeableConcept' CWE: PV1.14 -%}
            },
            "dischargeDisposition":
            {
                {% include 'DataType/CWECodeableConcept' CWE: PV1.36 -%}
            },
            "dietPreference":
            [
                {
                    {% include 'DataType/CWECodeableConcept' CWE: PV1.38 -%}
                },
            ],
            "destination":
            {
                {% if PV1.37 and Location_ID_PV1_37 -%}
                    "reference":"Location/{{ Location_ID_PV1_37 }}",
                {% endif -%}
            },
            "origin":
            {
                "reference":"{{ Encounter_Hospitalization_Origin_ID }}",
            },
        },

        "episodeOfCare" : [
        { 
            {% if PV1.54 and EpisodeOfCare_ID_PV1_54 -%}
                "reference":"EpisodeOfCare/{{EpisodeOfCare_ID_PV1_54}}",
            {% endif -%}
        },
        ],

        "participant":
        [
            {
                "type":
                [
                    {
                        "coding":
                        [
                            {
                                {% if PV1.7 -%}
                                    "code":"ATND",
                                    "system":"http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                    "display":"attender",
                                {% endif -%}
                            },
                        ],
                    },
                ],
                "individual":
                {
                    {% if PV1.7 and Practitioner_ID_PV1_7 -%}
                        "reference":"Practitioner/{{ Practitioner_ID_PV1_7 }}",
                    {% endif -%}
                },
            },
            {
                "type":
                [
                    {
                        "coding":
                        [
                            {
                                {% if PV1.8 -%}
                                    "code":"REF",
                                    "system":"http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                {% endif -%}
                            },
                        ],
                        {% if PV1.8 -%}
                            "text":"referrer",
                        {% endif -%}
                    },
                ],
                "individual":
                {
                    {% if PV1.8 and Practitioner_ID_PV1_8 -%}
                        "reference":"Practitioner/{{ Practitioner_ID_PV1_8 }}",
                    {% endif -%}
                },
            },
            {
                "type":
                [
                    {
                        "coding":
                        [
                            {
                                {% if PV1.9 -%}
                                    "code":"CON",
                                    "system":"http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                {% endif -%}
                            },
                        ],
                        {% if PV1.9 -%}
                            "text":"consultant",
                        {% endif -%}
                    },
                ],
                "individual":
                {
                    {% if PV1.9 and Practitioner_ID_PV1_9 -%}
                        "reference":"Practitioner/{{ Practitioner_ID_PV1_9 }}",
                    {% endif -%}
                },
            },
            {
                "type":
                [
                    {
                        "coding":
                        [
                            {
                                {% if PV1.17 -%}
                                    "code":"ADM",
                                    "system":"http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                {% endif -%}
                            },
                        ],
                        {% if PV1.17 -%}
                            "text":"admitter",
                        {% endif -%}
                    },
                ],
                "individual":
                {
                    {% if PV1.17 and Practitioner_ID_PV1_17 -%}
                        "reference":"Practitioner/{{ Practitioner_ID_PV1_17 }}",
                    {% endif -%}
                },
            },
            {
                "type":
                [
                    {
                        "coding":
                        [
                            {
                                {% if PV1.52 -%}
                                    "code":"PART",
                                    "system":"http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                {% endif -%}
                            },
                        ],
                        {% if PV1.52 -%}
                            "text":"Participation",
                        {% endif -%}
                    },
                ],
                "individual":
                {
                    {% if PV1.52 and Practitioner_ID_PV1_52 -%}
                        "reference":"Practitioner/{{ Practitioner_ID_PV1_52 }}",
                    {% endif -%}
                },
            },
            {
                "type":
                [
                    {   {% if PV2.13 -%}
                        "coding":
                        [
                            {
                                    "code":"REF",
                                    "system":"http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                            },
                        ],
                            "text":"referrer",
                        {% endif -%}
                    },
                ],
                "individual":
                {
                    {% if PV2.13 and Practitioner_ID_PV2_13 -%}
                        "reference":"Practitioner/{{ Practitioner_ID_PV2_13 }}",
                    {% endif -%}
                },
            },
        ],
        "serviceType":
        {
            {% include 'DataType/CWECodeableConcept' CWE: PV1.10 -%}
        },
        "identifier":
        [
            {
                {% if PV1.19 -%}
                    {% include 'DataType/CX' CX: PV1.19 -%}
                   
                "type":
                {
                    "coding":
                    [
                        {
                                "code":"VN",
                                "system":"http://terminology.hl7.org/CodeSystem/v2-0203",
                        },
                    ],
                        "text":"visit number",
                },
                {% endif -%}
            },
            {% if PV1.50 -%}
                {% for p in PV1.50.Repeats -%}
                {
                    {% include 'DataType/CX' CX: p -%}
                },
                {% endfor -%}
            {% endif -%}

        ],
        "period":
        {
           
            "start":"{{ PV1.44.Value | format_as_date_time }}",
            
            {% unless  Root_Template == "ADT_A25" or Root_Template == "ADT_A13" -%}
                "end":"{{ PV1.45.Value | format_as_date_time }}",
            {% endunless -%}
            {% if Root_Template == "ADT_A05" or Root_Template == "ADT_A14" or Root_Template == "ADT_A04" or Root_Template == "ADT_A11" or Root_Template == "ADT_A27" -%}
                "start":"{{ PV2.8.Value | format_as_date_time }}",
                "end":"{{ PV2.9.Value | format_as_date_time }}",
            {% endif -%}
            {% if Root_Template == "ADT_A16" -%}
                "end":"{{ PV2.9.Value | format_as_date_time }}",
            {% endif -%}
        },
        "reasonCode":
        [
            {
                {% if PV2.3 -%}
                    {% include 'DataType/CWECodeableConcept' CWE: PV2.3 -%}
                {% endif -%}
            },
        ],
        "length":
        {
            {% if PV2.11 -%}
             "value":{{ PV2.11.Value }},
             "unit":"d",
             "system":"http://unitsofmeasure.org/",
            {% endif -%}
        },
        "meta":{
            "security":[
                {
                    {% include 'DataType/IDCoding' mapping: 'CodeSystem/EncounterSecurity', ID: PV2.22 -%}
                },   
                {% if ARV.2 %}
                    {
                        {% if ARV.2.1.Value == 'A' or ARV.2.1.Value == 'U' %}
                            "code" : "LABEL",
                            "display" : "assign security label",
                            "system" : "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                        {% elsif ARV.2.1.Value == 'X' %}
                            "code" : "PERSISTLABEL",
                            "display" : "persist security label",
                            "system" : "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                        {% elsif ARV.2.1.Value == 'D' %}
                            "code" : "DELETELABEL",
                            "display" : "Delete Security Label",
                            "system" : "http://example.com/v2-to-fhir-converter/CodeSystem/additional-security-label",
                        {% endif %}  
                    },
                {% endif %}
                {% if ARV.3 %}
                    {% include 'DataType/CWECodeableConceptRepeatable' mapping: 'CodeSystem/AccessRestrictionValue', CWE: ARV.3  %}
                {% endif %}
                {% if ARV.4 %}
                    {% for arv_4 in ARV.4.Repeats %}
                        {% include 'DataType/CWECodeableConceptRepeatable' mapping: 'CodeSystem/AccessRestrictionReason', CWE: arv_4 %}
                    {% endfor %}   
                {% endif %}
                {% if ARV.5 %}
                    {% for arv_5 in ARV.5.Repeats %}
                        { 
                            "system" : "http://example.com/v2-to-fhir-converter/CodeSystem/additional-security-label",
                            "code" : "special-access-restriction-instructions",
                            "display" : "{{arv_5.Value}}",
                        },
                    {% endfor %}   
                {% endif %}
                {% if ARV.6 %}
                    {
                        "extension":
                        [
                            {
                                "url": "http://hl7.org/fhir/uv/v2mappings/StructureDefinition/access-restriction-range",    
                                "valuePeriod": {
                                    {% include 'DataType/DRPeriod' DR: ARV.6 %}
                                },
                            }
                        ],
                    },
                {% endif %}
            ],      
        },
        {% if Root_Template -%}
        {% assign generationInstant = "{{ "" | now }}" -%}
        {% assign templateVersion = "TEMPLATE_VERSION_PLACEHOLDER" -%}
        "text": {
            "status":"generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><p><span>Visit Description: {{ PV2.12.Value }}</span></p></div>"
        },
        {% endif -%}
        "priority":
        {
            {% if PV2.25 -%}
                    {% include 'DataType/CWECodeableConcept' mapping: 'CodeSystem/EncounterPriority', CWE: PV2.25 -%}
            {% endif -%}
        },
        "diagnosis":
        [
            {% if conditionId %}
            {
                "condition" : { 
                    "reference":"Condition/{{ conditionId }}", 
                },
                "use" : { 
                    {% if DG1.6 -%}
                        {% include 'DataType/CWECodeableConcept' mapping: 'CodeSystem/DiagnosisType', CWE: DG1.6 -%}
                    {% endif -%}
                },
              
                {% assign temp = DG1.15.Value | sign %}
                {% if DG1.15 and temp != -1 %}
                    {% assign splitResult = DG1.15.Value | split: '.' %}
                    {% assign splitResultSize = splitResult | size %}
                    {% if splitResultSize == 1 %}
                        "rank": {{ DG1.15.Value }},
                    {% endif %}
                {% endif %}
            },
            {% endif %}
        ],
        "account": [
            {% if AccountId -%}
                {
                    "reference":"Account/{{ AccountId }}", 
                },
            {%  endif -%}
        ],
    },
    "request":{
        "method":"PUT",
        {% if Root_Template == "ADT_A29" -%}
            "method":"DELETE",
        {% endif -%} 
        "url":"Encounter/{{ ID }}",
    },
},
